body{
	background-color: #fafbfc;
}
.card-navbar{
	background-color:#fff;
	border-color:#fff;
}
.card-navbar .navbar-brand{
	padding:20px 15px;
}
.card-navbar .navbar-brand:hover{
	color:#000;
}
.card-navbar .navbar-brand:focus{
	color:#000;
}
.card-navbar .navbar-nav li > a{
	color:#b3b3b3;
	padding:20px;
	transition: all -.4s ease-in;
}
.card-navbar .navbar-nav li > a:hover,.card-navbar .navbar-nav li > a:focus{
	color:#000;
	padding:20px;
}
.card-image img{
	width:100%;
	height:190px;
}
.card-white{
	background-color:#fff;
}
.no-padding{
	padding:0;
}
.card-shadow{
	box-shadow: 0 2px 10px #ddd;
}
.card-margin{
	margin-bottom:20px;
}
.card-heading{
	text-align: center;
	letter-spacing: 1px;
	padding:8px 7px;
}
.card-margin p{
	margin-top:10px;
}
.card-list ul >li{
	color:#897879;
	font-size: 18px;
}
.card-ul-list ul{
	list-style:none;
	padding-left:0;
	margin-bottom:15px;
}
.card-ul-list ul > li{
	margin:4px;
	border-radius: 15px;
	padding:7px 15px;
	background-color:#000;
	color:#fff;
	display: inline-block;
}
.card-ul-list button{
	border-radius:20px;
}
.card-padding{
	padding:15px;
}